@model IEnumerable<Aiub.Ums.Web.Mvc.Models.StudentDepartmentVM>

@{
    ViewBag.Title = "Index";
    ViewBag.PageDescription = "Index";
}
<div class="box">
    <div class="box-body">
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
    </div>
</div>
<div class="box">
    <div class="box-body">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Student)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Student.Cgpa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.Student.Name)</b>
                            <br/>
                            <span class="small">[@Html.DisplayFor(modelItem => item.Student.Id)]</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.Cgpa)
                        </td>
                        <td>
                            <a href="/Department/Details/@item.Department.Id">@Html.DisplayFor(modelItem => item.Department.Name)</a>
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Details", "Details", new { id = item.Student.Id }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Edit", "Edit", new { id = item.Student.Id }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Student.Id }, new { @class = "btn btn-default" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section UmsScripts{
    <script>
        $(function () {
            $("#myTable").DataTable();
        });
    </script>
}